<%- include partials/header %>


    <div class="container card">
        <%var today = new Date()
         const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November",
        "December" ];
%>
            <h1 class="card-header" align='center'>
                <%=monthNames[today.getMonth()-1]%> Report
            </h1>
            <canvas id="myChart" data-labels="<%=JSON.stringify(labels)%>" data-values="<%=JSON.stringify(values)%>"></canvas>
    </div>





    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var lab = '<%-JSON.stringify(labels)%>';
        var val = '<%-JSON.stringify(values)%>';
        console.log("labelss", lab)
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: JSON.parse(lab),
                datasets: [{
                    label: "Money From Hotels (Broker's 9%)",
                    backgroundColor: 'rgb(252,168,60)',
                    borderColor: 'rgb(252,168,60)',
                    data: JSON.parse(val)
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">

    <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script>
    </script>
    </body>

    </html>