<%- include partials/header %>


<div class="row">
    <div class="col-3">
        <div class="filters_div fixed-top">

            <div class="card filter_card" style="height: 100%">
                <h5 class="card-header filter_header">Filters</h5>
                <div class="card-body filter_body">

                    <form action="/hotels" method="GET" id="pickDate">
                        <div class="form-group row">
                            <label for="example-date-input" class="col-5 col-form-label filter_input">Check-in Date</label>
                            <div class="col-7 filter_input">
                                <input class="form-control" type="date" value='<%= query.checkin%>' name="checkin" id="checkin">
                            </div>
                            <label for="example-date-input" class="col-5 col-form-label filter_input">Check-out Date</label>
                            <div class="col-7 filter_input">
                                <input class="form-control" type="date" value='<%= query.checkout%>' name="checkout" id="checkout">
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input class="form-control" type="text" value='<%= query.country%>' name="country"
                                    placeholder="Country">
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="text" value='<%= query.city%>' name="city"
                                    placeholder="City">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input class="form-control" type="text" value='' name="rating" placeholder="Min Rating">
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="text" value='' name="price" placeholder="Price">
                            </div>
                        </div>


                        <div class="form-check form-check-inline">
                            <input class="form-check-input filter_checkbox" type="checkbox" name="pool" value="true" <%=query.pool?
                                'checked' : '' %>>
                            <label class="form-check-label" for="pool">Pool</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input filter_checkbox" type="checkbox" name="restaurant" value="true"
                                <%=query.restaurant? 'checked' : '' %>>
                            <label class="form-check-label" for="restaurant">Restaurant</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input filter_checkbox" type="checkbox" name="bar" value="true" <%=query.bar?
                                'checked' : '' %>>
                            <label class="form-check-label" for="bar">Bar</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input filter_checkbox" type="checkbox" name="wifi" value="true" <%=query.wifi?
                                'checked' : '' %>>
                            <label class="form-check-label" for="wifi">Wifi</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input filter_checkbox" type="checkbox" name="gym" value="true" <%=query.gym?
                                'checked' : '' %>>
                            <label class="form-check-label" for="gym">Gym</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input filter_checkbox" type="checkbox" name="kids_area" value="true"
                                <%=query.kids_area? 'checked' : '' %>>
                            <label class="form-check-label" for="kids_area">Kids Area</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input filter_checkbox" type="checkbox" name="spa" value="true" <%=query.spa?
                                'checked' : '' %>>
                            <label class="form-check-label" for="spa">Spa</label>
                        </div>

                        <br>
                        <br>
                        <input class="btn btn-outline-dark" id="about" style="float: right" type="submit">

                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="col-9">
        <div class="container">
            <% hotels.forEach(function(hotel){%>
            <div class="wrapper">
                <div class="card_container">


                    <div class="row">
                        <div class="col-3 align-self-center" style="padding-left: 25px;padding-right: 0px;">
                            <% if ( !hotel.image_path) { %>
                            <img title="Check Hotel" class="card_image img-thumbnail" path="/hotels/<%= hotel.id%>" src="/images/photo2.jpg">
                            <% } else{%>
                            <img title="Check Hotel" class="card_image img-thumbnail" path="/hotels/<%= hotel.id%>" src="/uploads/<%=hotel.image_path%>">
                            <% } %>
                        </div>
                        <div class="col-9">
                            <div class="card_header">
                                <h4 style="display:inline;">
                                    <%=hotel.name%>
                                </h4>
                                <% for(var i=0; i < hotel.stars; i++){%><span class="fa fa-star checked"></span>
                                <% }%>
                                <% if(hotel.avgRating){%>
                                <span class="review">Review<br>
                                    <%=hotel.avgRating%> </span>
                                    <%}%>
                            </div>
                            <hr style="margin-left: 90px;">
                            <div class="card_body">
                                <ul class="hotel_list">
                                    <li><a class="hotel_item" href="#location"><Strong><span class="fa fa-map-marker-alt fa-lg"></span></Strong>
                                            <%=hotel.city%>,
                                            <%=hotel.country%></a></li>
                                    <li><a class="hotel_item" href="#description" style="padding-bottom: 0"><Strong><i
                                                    class="fa fa-align-justify fa-lg"></i></Strong>
                                            <%=hotel.description%></a></li>
                                </ul>
                            </div>
                            <a path="/hotels/<%= hotel.id%>/reserve" href='#' id="about" class="btn btn-outline-light btn-sm reserveLink"
                                data-toggle="modal" data-target="#exampleModal" data-hotel_id="<%=hotel.id%>">Reserve</a>
                        </div>
                    </div>


                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservation_hotel_name"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reservation_form" action="" method="POST">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Check-in Date</label>
                        <div class="col-3">
                            <input id="reservation_checkin" class="form-control" type="date" name="checkin" readonly>
                        </div>
                        <label class="col-2 col-form-label">Check-out Date</label>
                        <div class="col-3">
                            <input id="reservation_checkout" class="form-control" type="date" name="checkout" readonly>
                        </div>
                    </div>
                    <div id="reservation_rooms_div"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="reservation_button"  style="background-color: #fca83c">Book Now</button>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="javascripts/hotels.js"></script>
<script src="/javascripts/reservationForm.js"></script>

<script>
    $(function () {

        $('.filter_checkbox').change(function (e) {
            $('#pickDate').submit();
        });

        $('.card_image').click(function () {
            window.location = $(this).attr("path");
        })

    });
</script>
</body>

</html>