<%- include partials/header %>
<div class="container">
        <div class="jumbotron">
            <div class="heading">
                <h3>Hotels</h3>
            </div>

            <div>
                <form action="/hotels" method="GET" id="pickDate">
                    <div class="form-group row">
                        <label for="example-date-input" class="col-2 col-form-label">Check-in Date</label>
                        <div class="col-3">
                            <input class="form-control" type="date" value='<%= query.checkin%>'' name="checkin">
                        </div>
                        <label for="example-date-input" class="col-2 col-form-label">Check-out Date</label>
                        <div class="col-3">
                            <input class="form-control" type="date" value='<%= query.checkout%>'' name="checkout">
                        </div>
                        <div class="col-2">
                            <input class="btn btn-outline-dark" type="submit">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Location
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Cairo</a>
                            </div>
                        </div>
                    </div>


                    <div class="form-check form-check-inline">
                        <input class="form-check-input filter_checkbox" type="checkbox" name="pool" value="true" <%=query.pool?'checked':''%>>
                        <label class="form-check-label" for="pool">Pool</label>
                    </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input filter_checkbox" type="checkbox" name="restaurant" value="true" <%=query.restaurant?'checked':''%>>
                        <label class="form-check-label" for="restaurant">Restaurant</label>
                    </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input filter_checkbox" type="checkbox" name="bar" value="true" <%=query.bar?'checked':''%>>
                        <label class="form-check-label" for="bar">Bar</label>
                    </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input filter_checkbox" type="checkbox" name="wifi" value="true" <%=query.wifi?'checked':''%>>
                        <label class="form-check-label" for="wifi">Wifi</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input filter_checkbox" type="checkbox" name="gym" value="true" <%=query.gym?'checked':''%>>
                        <label class="form-check-label" for="gym">Gym</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input filter_checkbox" type="checkbox" name="kids_area" value="true" <%=query.kids_area?'checked':''%>>
                        <label class="form-check-label" for="kids_area">Kids Area</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input filter_checkbox" type="checkbox" name="spa" value="true" <%=query.spa?'checked':''%>>
                        <label class="form-check-label" for="spa">Spa</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="hotels_container">
            <div class="row inner_container" style="margin:0;">
                    <% hotels.forEach(function(hotel){%>
                        <div class="card col-sm-4 col-md-4 col-lg-3" >
                            <img class="card-img-top" src="/images/photo2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%=hotel.name%></h5>
                                <p class="card-text"><%=hotel.description%></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Customers Review: <%=hotel.review%></li>
                                
                                <li class="list-group-item">Stars: <% for(var i=0; i < hotel.stars; i++){%><span class="fa fa-star checked"></span><% }%></li>
                                <li class="list-group-item">Location: <%=hotel.city%>, <%=hotel.country%></li>
                            </ul>
                            <div class="card-body">
                                <a href="/hotels/<%= hotel.id%>" class="card-link">Check Hotel</a>
                                <a href="#" class="card-link">Reserve</a>
                            </div>
                        </div>

                
                <% }) %>

            </div>

        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="javascripts/hotels.js"></script>
    <script>

    $(function () {

    $('.filter_checkbox').change(function(e) {
            $('form').submit();
        });
    });

    
    </script>
</body>

</html>