<%- include partials/header %>

    <body>
        <% for(var i=0 ; i<hotels.length; i++){ %>
            <section>
                <div class="container py-3">
                    <div class="card">
                        <h1 class="card-header" align='center'>
                            <%= hotels[i].name%> Hotel
                        </h1>
                        <div class="row ">
                            <div class="col-4">
                                <img src="/images/photo2.jpg" class="w-100" style="height:300px; border-radius: 0% 0% 20% 0%;">
                            </div>
                            <div class="col-8 px-3">
                                <div class="card-block px-3  col-12">

                                    <div class="card-text col-12" style="padding-top: 20px">
                                        <%=hotels[i].description%>
                                    </div>
                                    <hr>
                                    <div class="col-6"><strong><i class="fas fa-star-half-alt" titles="Stars"></i> Stars:
                                            <% for(var j=0; j < hotels[i].stars; j++){%>
                                                <span><i class="text-warning fa fa-star"></i></span>
                                                <% }%></strong>
                                    </div>
                                    <div class="col-6"><strong><i class="fas fa-map-marker-alt" style="margin-left:3px" title="
                                                                                Location "></i> <span style="margin-left:3px">Location:</span></strong>
                                        <%=hotels[i].street%>,
                                            <%=hotels[i].district%>,
                                                <%=hotels[i].city%>,
                                                    <%=hotels[i].country%>

                                    </div>

                                    <div class="col-12">
                                        <strong><i class="far fa-gem " title="Facilities "></i> Facilities: </strong>
                                        <%= getFacilities(i)%>
                                    </div>
                                    <div class="col-12">
                                        <strong>Rooms Offered: </strong>
                                        <ul style="list-style-type: none;">
                                            <% var hotelID = hotels[i].hotel_id %>
                                                <%if(hotels[i].room_type){ %>
                                                    <li>
                                                        <%= getRoomIcon(hotels[i].room_type)%>
                                                            <%= hotels[i].room_type%> with a
                                                                <%= hotels[i].room_view %> view.
                                                    </li>

                                                    <%}else{%>
                                                        <li>No rooms to offer</li>
                                                        <%}%>
                                                            <% while(hotels[i+1] && hotels[i+1].room_type && hotels[i+1].hotel_id === hotelID){ %>
                                                                <%i++%>
                                                                    <li>
                                                                        <%= getRoomIcon(hotels[i].room_type)%>
                                                                            <%= hotels[i].room_type%> with a
                                                                                <%= hotels[i].room_view %> view.
                                                                    </li>
                                                                    <%}%>
                                                                        </li><i class="fas fa-plus-circle" title="Add Room"
                                                                            style="cursor:pointer"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 row">
                                        <div class="col-9"></div>
                                        <div class="col-3">
                                            <% if(hotels[i].map_url){%>
                                                <img onclick="showMap('<%=hotels[i].map_url%>'); this.onclick=null;" src="/images/google-maps-50.png" style="width:44px; height:44px;float:right;">
                                                <%}%>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div id="mapiframe"></div>
                    </div>
                </div>
            </section>
            <% } %>

                <% function getFacilities(i){ %>
                    <ul class="row col-12" style="list-style-type: none; margin-left:20px">
                        <% if(hotels[i].pool===1){ %>
                            <li class="col-3"><i class="fas fa-swimming-pool" title="Pool"></i> Pool</li>
                            <% }if(hotels[i].bar===1) {%>
                                <li class="col-3"><i class="fas fa-glass-martini" title="Bar"></i> Bar</li>
                                <% }if(hotels[i].wifi===1){ %>
                                    <li class="col-3"><i class="fas fa-wifi" title="Wifi"></i> Wifi</li>
                                    <% }if(hotels[i].gym===1){ %>
                                        <li class="col-3"><i class="fas fa-dumbbell" title="Gym"></i> Gym</li>
                                        <% }if(hotels[i].kids_area===1){ %>
                                            <li class="col-3"><i class="fas fa-baby" title="Kids Area"></i> Kids Area
                                            </li>
                                            <% }if(hotels[i].spa===1){ %>
                                                <li class="col-3"><i class="fas fa-hot-tub" title="Spa"></i> Spa</li>
                                                <% }if(hotels[i].restaurant===1){ %>
                                                    <li class="col-3"><i class="fas fa-utensils" title="Restaurant"></i>
                                                        Restaurant</li>
                                                    <% } %>
                    </ul>

                    <% } %>

                        <% function getRoomIcon(roomType){
                                    if(roomType==="single"){
                                        %>
                            <i class="fas fa-user"></i>
                            <%}
                                    else if(roomType==="double"){%>
                                <i class="fas fa-user-friends"></i>
                                <%}
                                    else if(roomType==="triple"){%>
                                    <i class="fas fa-users"></i>
                                    <%}
                                    else if(roomType==="suite"){%>
                                        <i class="fas fa-crown"></i>
                                        <%}
                                } %>


                                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                                                crossorigin="anonymous"></script>
                                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                                                crossorigin="anonymous"></script>


                                            <script src="/javascripts/hotels.js"></script>
    </body>

    </html>